
.round {
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
  box-shadow: 2px 2px 2px gray;
}

header p, footer p{
  color:#8d8d8d;
}
